spring:
  config.import: "configserver:, classpath:application-openapi.yml"
  application:
    name: ms-notifications
  cloud:
    config:
      failFast: true
      uri: http://config-server:8888
      username: ${CONFIG_SERVER_USER}
      password: ${CONFIG_SERVER_PASSWORD}
  profiles:
    active: docker

server:
  port: 8087  # fallback si config-server no estuviera disponible
